.directory
__pycache__
*.pyc
*.vcf
*.gz
*.vcf.gz
*.tar
*.bed
*.csi
*.xlsx
*.bz2
*.json
*.sif
.git/
.idea/
.venv/
archaic_project.egg-info/
build/
data/
raw/
stats/
statistics/
simulations/
validation/
models/
